@(config: mk.ck.energy.csm.model.Configuration)

@import helper._
@import mk.ck.energy.csm.controllers._

<div class="panel-body">
  
  <div class="col-xs-2"> <!-- required for floating -->
    <ul class="nav nav-tabs tabs-left">
      <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
      <li><a href="#profile" data-toggle="tab">Profile</a></li>
    </ul>
  </div>
  
  <div class="col-xs-10">
    <div class="tab-content">
      <div class="tab-pane active" id="settings">
        <div class="row">
          <div class="col-md-2 col-sm-2 text-center">
            <b>@Messages("page.admin.adminTab.tabDBs.active")</b>
          </div>
          <div class="col-md-8 col-sm-8 text-center">
            <b>@Messages("page.admin.adminTab.tabDBs.url")</b>
          </div>
        </div>
                
        @if(config != null) {
          @helper.form(routes.AdministrationTools.doChangeActiveDB, 'class -> "form") {
          
          @for( s <- config.getMongoURIs().keySet() ) {
            @defining(config.getActiveMongoDBName()==s) { bo =>
              <hr />
              <div class="row">
                <div class="col-md-2 col-sm-2" align="center">
                  @if(bo) {
                    <input type="radio" id="@s" name="dbMongoDB" value="@s" checked/>
                  }else{
                    <input type="radio" id="@s" name="dbMongoDB" value="@s" />
                  }
                </div>
                <div class="col-md-8 col-sm-8">
                  <i>@s</i> :
                  <a href="#" title="@mk.ck.energy.csm.model.Configuration.testConnection(s)">@config.getMongoURIs().get( s )</a>
                </div>
              </div>
            }
          }
          <input type="submit" value='Change' class="btn btn-info" />
        }}
      </div>
      
      <div class="tab-pane" id="profile">
        <b>Databases there are :</b><hr />
        @if(config != null) { 
          <i>@config.getActiveMongoDBName()</i>
          <hr />
          <i>
            @if(config.getMSSQLStatement() != null){
              @Messages("page.admin.adminTab.tabDBs.mssql.database", Messages("page.admin.adminTab.tabDBs.mssql.database.active"))
            }else{
              @Messages("page.admin.adminTab.tabDBs.mssql.database", Messages("page.admin.adminTab.tabDBs.mssql.database.noActive"))
            }
          </i>
        }
      </div>
      
    </div>
  </div>
	
</div>