@(step: Form[_], config: mk.ck.energy.csm.model.Configuration)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
@import mk.ck.energy.csm.controllers._
@import mk.ck.energy.csm.model.AddressTop

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">@Messages("page.admin.adminTab.tabDBSynchronization.descriptions")</h3>
  </div>
  <br/>
  
  @helper.form(routes.AdministrationTools.doSteppingSynchronizationDB, 'class -> "form") {
        
    @if(step.hasGlobalErrors) { 
      <div class="alert alert-danger">@step.globalError.message</div>
    }
    
    <div class="row">
      <div class="col-md-1 col-sm-1">
        &nbsp;&nbsp;1.
      </div>
      <div class="col-md-3 col-sm-3">
        @checkbox(
          step("addressTopXML")
        )
      </div>
      <div class="col-md-5 col-sm-5">
        <b>@Messages("page.admin.adminTab.tabDBSynchronization.regions")</b>
      </div>
      <div class="col-md-2 col-sm-2">
        @defining(config.getRegionsFileXML()) { fileRegion =>
          <b><i><a class="btn btn-default" href='@routes.AdministrationTools.viewXML(0)' role="button">@fileRegion.getName()<a></a></i></b>
        }
      </div>
    </div>
    <hr/>
    
    <div class="row">
      <div class="col-md-1 col-sm-1">
        &nbsp;&nbsp;2.
      </div>
      <div class="col-md-3 col-sm-3">
        @checkbox(
          step("locationXML")
        )
      </div>
      <div class="col-md-5 col-sm-5">
        <b>@Messages("page.admin.adminTab.tabDBSynchronization.locations")</b>
      </div>
      <div class="col-md-2 col-sm-2">
        @defining(config.getLocationsFileXML(0)) { fLocation =>
          <b><i><a class="btn btn-default" href='@routes.AdministrationTools.viewXML(1)' role="button">@fLocation.getName()<a></a></i></b>
        }
      </div>
    </div>
    <hr/>
    
    <div class="row">
      <div class="col-md-1 col-sm-1">
        &nbsp;&nbsp;3.
      </div>
      <div class="col-md-3 col-sm-3">
        @checkbox(
          step("dBTableLocations")
        )
      </div>
      <div class="col-md-5 col-sm-5">
        <b>@Messages("page.admin.adminTab.tabDBSynchronization.selecting_locality", config.getMSSQLDBTablesAsScala().get("locations"))</b>
      </div>
      <div class="col-md-2 col-sm-2">
        @defining(AddressTop.getMap("0")) { map =>
          @if(map != null) {
            @_selectPartial(step, "references", map, Messages("page.admin.adminTab.tabDBSynchronization.locations.references"))
          }
        }
      </div>
    </div>
    <hr/>
    
    <div class="row">
      <div class="col-md-1 col-sm-1">
        &nbsp;&nbsp;4.
      </div>
      <div class="col-md-3 col-sm-3">
        @checkbox(
          step("addressLocationXML")
        )
      </div>
      <div class="col-md-5 col-sm-5">
        <b>@Messages("page.admin.adminTab.tabDBSynchronization.locations")</b>
      </div>
      <div class="col-md-2 col-sm-2">
        @defining(config.getLocationsFileXML(1)) { fileLocation =>
          <b><i><a class="btn btn-default" href='@routes.AdministrationTools.viewXML(2)' role="button">@fileLocation.getName()<a></a></i></b>
        }
      </div>
    </div>
    <hr/>
    
    <div class="row">
      <div class="col-md-1 col-sm-1">
        &nbsp;&nbsp;5.
      </div>
      <div class="col-md-3 col-sm-3">
        @checkbox(
          step("dBTableStreets")
        )
      </div>
      <div class="col-md-5 col-sm-5">
        <b>@Messages("page.admin.adminTab.tabDBSynchronization.selecting_streets", config.getMSSQLDBTablesAsScala().get("streets"))</b>
      </div>
      <div class="col-md-2 col-sm-2">
        
      </div>
    </div>
    <hr/>
    
    <div class="row">
      <div class="col-md-1 col-sm-1">
        &nbsp;&nbsp;6.
      </div>
      <div class="col-md-3 col-sm-3">
        @checkbox(
          step("addressStreetsXML")
        )
      </div>
      <div class="col-md-5 col-sm-5">
        <b>@Messages("page.admin.adminTab.tabDBSynchronization.streets")</b>
      </div>
      <div class="col-md-2 col-sm-2">
        @defining(config.getStreetsFileXML()) { fileStreet =>
          <b><i><a class="btn btn-default" href='@routes.AdministrationTools.viewXML(3)' role="button">@fileStreet.getName()<a></a></i></b>
        }
      </div>
    </div>
    <hr/>
    
    <div class="row">
      <div class="col-md-1 col-sm-1">
        &nbsp;&nbsp;7.
      </div>
      <div class="col-md-3 col-sm-3">
        @checkbox(
          step("fillingMeterDevices")
        )
      </div>
      <div class="col-md-5 col-sm-5">
        <b>@Messages("page.admin.adminTab.tabDBSynchronization.fillingMeterDevices", config.getMSSQLDBTablesAsScala().get("meterDevices"))</b>
      </div>
      <div class="col-md-2 col-sm-2">
      
      </div>
    </div>
    <hr/>
    
    <div class="row">
      <div class="col-md-1 col-sm-1">
        &nbsp;&nbsp;8.
      </div>
      <div class="col-md-3 col-sm-3">
        @checkbox(
          step("updateConsumers")
        )
      </div>
      <div class="col-md-5 col-sm-5">
        <b>@Messages("page.admin.adminTab.tabDBSynchronization.consumerUpdate")</b>
      </div>
      <div class="col-md-2 col-sm-2">
      
      </div>
    </div>
    <hr/>
    
    <div class="row">
      <div class="col-md-1 col-sm-1">
        &nbsp;&nbsp;8.
      </div>
      <div class="col-md-3 col-sm-3">
        @checkbox(
          step("updateMeters")
        )
      </div>
      <div class="col-md-5 col-sm-5">
        <b>@Messages("page.admin.adminTab.tabDBSynchronization.updateMeters")</b>
      </div>
      <div class="col-md-2 col-sm-2">
      
      </div>
    </div>
    
    
    <table class="table">
      <tr><td align="right">
        <input class="btn btn-danger" type="submit" value='@Messages("button.admin.synchronize")' class="btn btn-info">
      </td></tr>
    </table>
  }
</div>