@(usersList: java.util.List[mk.ck.energy.csm.model.auth.User] = null)

@import mk.ck.energy.csm.model.auth.UserRole

  <div class="panel-body">
    
    @if(usersList != null){
      @for(user <- usersList) {
        <div class="row">
            <div class="col-md-3 col-sm-3">
              @user.getId()
            </div>
            <div class="col-md-3 col-sm-3">
              @user.getEmail()
            </div>
            <div class="col-md-3 col-sm-3">
              @user.getFirstName() @user.getName() @user.getLastName()
            </div>
            <div class="col-md-2 col-sm-2">
              @for(rol <- user.getRoles()) {
                @rol.getName()
              }
            </div>
            
            <div class="col-md-1 col-sm-1">
              <!-- Тут тра переробити -->
              <a href="@mk.ck.energy.csm.controllers.routes.AdministrationTools.removeUser(user.getId())" 
              		onclick='if (!confirm(@Messages("page.admin.delUser.question"))) return false;'>
                <img alt='@Messages("page.admin.delUser.hint")' src='@routes.Assets.at("images/delete.png")'>
              </a>
            </div>
        </div>
      }
    }
    <a class="btn btn-default right" href='@mk.ck.energy.csm.controllers.routes.AdministrationTools.addUser("OPER")' role="button">@Messages("page.admin.addUserOper.title")</a>
    <a class="btn btn-default right" href='@mk.ck.energy.csm.controllers.routes.AdministrationTools.addUser("ADMIN")' role="button">@Messages("page.admin.addUserAdmin.title")</a>
  </div>