@(config: mk.ck.energy.csm.model.Configuration, usersList: java.util.List[mk.ck.energy.csm.model.auth.User], f: Form[_], indexTab: Integer)

@main(Messages("page.home.admin")) {
  
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">@Messages("page.admin.title")</h3>
    </div>
    
    <ul id="adminTab" class="nav nav-tabs">
      <li class="active">
        <a href="#tabUsers" data-toggle="tab">@Messages("page.admin.adminTab.tabUsers")</a>
      </li>
      
      <li><a href="#tabDBs" data-toggle="tab">@Messages("page.admin.adminTab.tabDBs")</a></li>
      
      <li><a href="#tabDBSynchronization" data-toggle="tab">@Messages("page.admin.adminTab.tabDBSynchronization")</a></li>
      
    </ul>
    
    <div id="adminTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="tabUsers">
        @_listUsersPartial(usersList)
      </div>
      <div class="tab-pane fade" id="tabDBs">
       @_dbAdminPartial(config)
      </div>
      <div class="tab-pane fade" id="tabDBSynchronization">
       @_dbSynchronization(f, config)
      </div>
    </div>
    
    <script>
      $(function () {
    	  $('#adminTab li:eq('+@indexTab+') a').tab('show');
      });
    </script>
    
  </div>
}
