@(addrForm: Form[mk.ck.energy.csm.controllers.AccountTools.AddrPlace], items: scala.collection.Iterator[mk.ck.energy.csm.model.AddressPlace] )

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("page.home.testAddr")) {
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">@Messages("page.home.title")</h3>
    </div>
    <div class="panel-body">
    
      @helper.form(mk.ck.energy.csm.controllers.routes.AccountTools.doTestPlaceAddress, 'class -> "form") {
        
        @if(addrForm.hasGlobalErrors) {
          <div class="alert alert-danger">@addrForm.globalError.message</div>
        }
        
        <div class="row">
          <div class="col-md-4 col-xs-4">
            @inputText(
              addrForm("id"),
              '_label -> Messages("Id"),
              'disabled -> "disabled"
            )
          </div>
          <div class="col-md-5 col-xs-5">
            @_selectPartial(addrForm, "streetType", mk.ck.energy.csm.model.StreetType.optionsFullname(), Messages("street.type"))
          </div>
          <div class="col-md-3 col-xs-3">
             @inputText(
              addrForm("street"),
              '_label -> Messages("Street")
            )
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <input type="submit" value="Test Address" class="btn btn-info">
          </div>
        </div>
        
        @if(items != null ) {
          @items.map { item =>
            <div class="row">
              <div class="col-md-5 col-xs-5">
                _id : @item.getId()
              </div>
              <div class="col-md-7 col-xs-7">
                name : @item.getStreetType().toString(mk.ck.energy.csm.model.Address.STREET_TYPE_SHORTNAME) @item.getStreet()
              </div>
            </div>
          }
        }
        <br/>
      }
    </div>
     
  </div>
}