@(addrForm: Form[mk.ck.energy.csm.controllers.AccountTools.AddrLocation], items: scala.collection.Iterator[mk.ck.energy.csm.model.AddressLocation] )

@import helper._

@main(Messages("page.home.testAddr")) {
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">@Messages("page.home.title")</h3>
    </div>
    <div class="panel-body">
    
      @helper.form(mk.ck.energy.csm.controllers.routes.AccountTools.doTestLocationAddress, 'class -> "form") {
                 
        @if(addrForm.hasGlobalErrors) {
          <div class="alert alert-danger">@addrForm.globalError.message</div>
        }
        
        <div class="row">
          <div class="col-md-6 col-xs-6">
            @inputText(
              addrForm("id"),
              '_label -> Messages("Id"),
              'disabled -> "disabled"
            )
          </div>
          <div class="col-md-6 col-xs-6">
            @inputText(
              addrForm("refId"),
              '_label -> Messages("RefId")
            )
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-5 col-xs-5">
            @inputText(
              addrForm("location"),
              '_label -> Messages("Location")
            )
          </div>
          <div class="col-md-4 col-xs-4">
            @_selectPartial(addrForm, "locationType", mk.ck.energy.csm.model.LocationType.optionsFullname(), Messages("LocationType"))
          </div>
          <div class="col-md-3 col-xs-3">
            @_selectPartial(addrForm, "administrativeCenterType", mk.ck.energy.csm.model.AdministrativeCenterType.optionsFullname(), Messages("AdministrativeCenterType"), true)
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-10 col-xs-10">
            <input type="submit" value="Test Address" class="btn btn-info">
          </div>
        </div>
        
        @if(items != null ) {
          @items.map { item =>
            <div class="row">
              <div class="col-md-4 col-xs-4">
                _id : @item.getId()
              </div>
              <div class="col-md-4 col-xs-4">
                refId : @item.getTopAddressId()
              </div>
              <div class="col-md-3 col-xs-3">
                name : @item.getLocationType().toString(mk.ck.energy.csm.model.Address.LOCATION_TYPE_SHORTNAME) @item.getLocation()
              </div>
              
              <div class="col-md-1 col-sm-1">
              <!-- Тут тра переробити -->
                <a href='@mk.ck.energy.csm.controllers.routes.AccountTools.removeLocationAddress(item.getId())'
                   onclick='if (!confirm(@Messages("button.address.remove.question"))) return false;'>
                  <img alt='@Messages("button.address.remove.title")' src='@routes.Assets.at("images/delete.png")'>
                </a>
              </div>
            </div>
          }
        }
      }
    </div>
     
  </div>
}